.BMapLib_Drawing{
}
.BMapLib_Drawing_panel{
    height:47px; 
    border:1px solid #666;
    border-radius:5px;
    overflow:hidden;
    box-shadow:1px 1px 3px rgba(0, 0, 0, 0.3);
    float:left;
}
.BMapLib_Drawing .BMapLib_box{
    border-right:1px solid #d2d2d2;
    float:left;
    height:100%;
    width:64px;
    height:100%;
    background-image:url(//api.map.baidu.com/library/DrawingManager/1.4/src/bg_drawing_tool.png);
    cursor:pointer;
}
.BMapLib_Drawing .BMapLib_last{
    border-right:none;
}

/*拖动地图图标*/
.BMapLib_Drawing .BMapLib_hander{
    background-position:0 0;
}
.BMapLib_Drawing .BMapLib_hander_hover{
    background-position:0 -52px;
}

/*画点图标*/
.BMapLib_Drawing .BMapLib_marker{
    background-position:-65px 0;
}
.BMapLib_Drawing .BMapLib_marker_hover{
    background-position:-65px -52px;
}

/*画圆图标*/
.BMapLib_Drawing .BMapLib_circle{
    background-position:-130px 0;
}
.BMapLib_Drawing .BMapLib_circle_hover{
    background-position:-130px -52px;
}

/*画线图标*/
.BMapLib_Drawing .BMapLib_polyline{
    background-position:-195px 0;
}
.BMapLib_Drawing .BMapLib_polyline_hover{
    background-position:-195px -52px;
}

/*画多边形图标*/
.BMapLib_Drawing .BMapLib_polygon{
    background-position:-260px 0;
}
.BMapLib_Drawing .BMapLib_polygon_hover{
    background-position:-260px -52px;
}

/*画矩形图标*/
.BMapLib_Drawing .BMapLib_rectangle{
    background-position:-325px 0;
}
.BMapLib_Drawing .BMapLib_rectangle_hover{
    background-position:-325px -52px;
}

/*使用提示框*/
.BMapLib_tip {
    position: absolute;
    top: 40px;
    display: none;
    overflow: hidden;
    width: 162px;
    height: 40px;
    border: 1px solid #ccc;
    line-height: 20px;
    border-radius: 4px;
    background-color: #fff;
    text-align: center;
    font-size: 12px;
}
.BMapLib_tip_text {
    font-size: 12px;
    color: #999;
}
.BMapLib_tip.rectangle {
    left: -65px;
}
.BMapLib_tip.polygon {
    left: -25px;
}
.BMapLib_tip.circle {
    left: 10px;
}
.BMapLib_tip p {
    margin: 0;
}

/*边长、半径提示窗口*/
.screenshot {
    position: absolute;
    background: #fff;
    border: 1px solid #E9E9E9;
    border-radius: 2px;
    color: #333;
    padding: 0 4px;
    font-size: 12px;
}
.screenshot .unit {
    display: block;
    color: #999999;
    width: 12px;
    float: right;
}
.screenshot .circlShot {
    width: 50px;
    text-align: center;
    line-height: 30px;
    height: 30px;
}
.screenshot #screenshotNum {
    display: inline-block;
    height: 30px;
    text-align: center;
    cursor: text;
}
.screenshot #circleInput {
    display: none;
    border: none;
    width: 34px;
    height: 30px;
    margin-top: -1px;
    outline: none;
    user-select: text;
    appearance: listitem;
    -webkit-user-select: text;
    -webkit-appearance: listitem;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
.screenshot #circleInput:focus {
    outline: none;
    border: none;
}
.screenshot .rectWH {
    width: 110px;
    height: 30px;
    line-height: 30px;
    padding: 2px 0;
}
.screenshot .rectWH span {
    display: inline-block;
    width: 10px;
    text-align: center;
}
.screenshot .rectWH .multiple {
    color: #999;
}
.screenshot .rectWH .wh {
    display: inline-block;
    width: 45px;
}
.screenshot .rectWH .wh #rectWidth,
.screenshot .rectWH .wh #rectHeight {
    width: 33px;
    cursor: text;
}
.screenshot .rectWH .wh #rectWidthInput,
.screenshot .rectWH .wh #rectHeightInput {
    display: none;
    border: none;
    width: 34px;
    height: 30px;
    margin-top: -1px;
    outline: none;
    user-select: text;
    appearance: listitem;
    -webkit-user-select: text;
    -webkit-appearance: listitem;
    padding: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: inherit;
}
.screenshot .rectWH .wh #rectWidthInput:focus,
.screenshot .rectWH .wh #rectHeightInput:focus {
    outline: none;
    border: none;
    padding: 0;
}
.screenshot:hover,
.screenshot:focus-within {
    border: 1px solid #5E87DB;
}

/*操作按钮*/
.operateWindow {
    position: absolute;
    width: 270px;
    height: 35px;
    -webkit-user-select: none;
}
.operateWindow div {
    height: 24px;
}
.operateWindow div span {
    display: block;
    float: left;
    margin: 2px 0;
    text-align: center;
    cursor: pointer;
}
.operateWindow div #confirmOperate {
    float: left;
    width: 50px;
    height: 30px;
    margin-left: 15px;
    background: #ffffff url("../images/confirm2.png") no-repeat top center;
    background-size: contain;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}
.operateWindow div #cancelOperate {
    float: left;
    width: 50px;
    height: 30px;
    margin-left: 8px;
    background: #ffffff url("../images/cancel2.png") no-repeat top center;
    background-size: contain;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.3);
    border-radius: 2px;
}
.operateWindow div #warnOperate {
    float: left;
    width: 200px;
    height: 30px;
    margin-left: 4px;
    line-height: 30px;
    background: #FFFBCC;
    border: 1px solid #E1E1E1;
    border-radius: 2px;
    font-family: PingFangSC-Regular;
    font-size: 14px;
    color: #703A04;
    letter-spacing: 0;
    cursor: default;
}
.operateLeft p span {
    float: right;
}