.BMapGLLib-swipe {
    background-color: #000;
    position: absolute;
    width: 2px;
    height: 100%;
    z-index: 1;
    top: 0;
    left: 50%;
}

.BMapGLLib-swipe-btn {
    position:absolute;
    top: 50%;
    left: -25px;
    height: 50px;
    width: 50px;
    background-color: aliceblue;
    border-radius: 25px;
    cursor: ew-resize;
    background-image: url(./swipe.svg);
    background-size: 50px;
}